*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    
}
body{
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: $font-mont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-deepblue;

    
}

  .body_others{
      align-items: center;
     justify-items: center;
  }  



a {
    text-decoration: none;
}

.bigForm .btn a{
    color:white;
}
.btn_index {
    color: $color-yellow;
}
.h3_title{
    color: $color-yellow;
    font-size: 2.5rem;
    font-family: $font-serif;
    position: absolute;
   color: $color-deepblue;
    letter-spacing: 1px;
     
}
.bigForms_section{
        
    grid-column: center-start/center-end;
    display: grid;
    align-items: center;
    border-radius: 2.5rem;
   font-size: 1.5rem;
    background-color: $color-lightblue; 
    max-width: 80rem;
    width: 95%;
    
   
 }

 .bigForm{
     margin-top: 3rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
.inputField{
        @include inputstyle($color-deepblue);
    
}

.form_Or{
    margin-top: 2em;
      font-weight: 600;
      font-size: 1.5rem;
}

.btn{
    @include btnstyle;
}
.white{
    color: $color-white;
}

.acc_btn{
   max-width: 56rem;
    width: 60%;
    border-radius: 0px;
    text-align: center;
    padding: 1em 0em;
    position: absolute;
    font-size: 1.5rem;
    }
    .content_p{
        font-weight: 500;
        font-size: 1.5rem;
        align-self: flex-start;
      
        //  word-spacing: .3rem;
    }
    .content_p--left{
        padding-left:14.5%;   
        align-self: stretch;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .easeIt_logo{
        position: absolute;
        left: 23em;
        top: -6em;
        width: 22rem;
        height: auto;
    }
    .inner_container{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inner_container--bigForms{
        width: 70%;
    }
    .h3_title--bigForms{
    top: 3.4em;
    left: 16em;
    position: absolute;
    }
    .social_icon{
        width: 2.2rem;
        filter:invert(0%) sepia(10%) saturate(70%) hue-rotate(237deg) brightness(10%) contrast(99%);
        margin-left: .5em;
        margin-right: .5em;
    }