@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body_others {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

a {
  text-decoration: none;
}

.btn a {
  color: #D39E2A;
}

.h3_title {
  color: #D39E2A;
  font-size: 2.5rem;
  font-family: "DM Serif Display", serif;
  position: absolute;
  color: #161859;
  letter-spacing: 1px;
}

.bigForms_section {
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  background-color: #BFC1FD;
  max-width: 80rem;
  width: 95%;
}

.bigForm {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputField {
  background-color: transparent;
  border: 1.9px #161859 solid;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

.form_Or {
  margin-top: 2em;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn {
  background-color: #161859;
  text-align: center;
  color: #D39E2A;
  border: 1px #161859 solid;
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 1.1em;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.white {
  color: #F7F7FD;
}

.acc_btn {
  max-width: 56rem;
  width: 60%;
  border-radius: 0px;
  text-align: center;
  padding: 1em 0em;
  position: absolute;
  font-size: 1.5rem;
}

.content_p {
  font-weight: 500;
  font-size: 1.5rem;
}

.content_p--left {
  padding-left: 14.5%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-weight: 500;
  font-size: 1.5rem;
}

.easeIt_logo {
  position: absolute;
  left: 23em;
  top: -6em;
  width: 22rem;
  height: auto;
}

.loginForm_section {
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-column-gap: 3rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90rem;
  max-width: 90%;
  font-size: 1.5rem;
}

.easeIt_logo--login {
  position: absolute;
  left: 24em;
  top: -7em;
  width: 22rem;
  height: auto;
}

.login_form {
  padding-top: 4rem;
  background-color: #BFC1FD;
  border-radius: 2.5rem;
}

.login_form--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_title {
  position: absolute;
  top: 3em;
  left: 14.5em;
  color: #D39E2A;
  font-size: 2.5rem;
  font-style: "DM Serif Display", serif;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login_input {
  border-color: #D39E2A;
  width: 100%;
}

.login_input--1 {
  margin-bottom: 4em;
}

.login_input--2 {
  margin-bottom: 2em;
}

.login_input--3 {
  margin-bottom: .5em;
}

.inner_container {
  width: 85%;
}

.inner_container--students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rmb-fgt {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 4em;
  font-size: 1.2rem;
}

.rmb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fgt {
  font-weight: bold;
}

.login_text {
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.login_text--students {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.btn_login {
  width: 100%;
  padding-top: .863em;
  padding-bottom: .863em;
}

input:placeholder-shown {
  color: black;
}

.school_label:placeholder-shown {
  background-image: url(/icons/check-circle.svg);
  background-repeat: no-repeat;
  background-position: 14rem;
  background-size: 1.5rem;
  color: black;
}

.school_password {
  margin-top: -3rem;
}

.noAccount {
  background-color: transparent;
  text-align: center;
  color: #D39E2A;
  border: 1px #161859 solid;
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 1.1em;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: auto;
  font-weight: 400;
  padding: .5em 3em;
  position: absolute;
  bottom: 4em;
}

.noAccount_link {
  color: #161859;
  font-weight: 700;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index_icons {
  padding-top: 3em;
  padding-bottom: 1em;
}

.social_icon {
  width: 2.2rem;
  -webkit-filter: invert(0%) sepia(10%) saturate(70%) hue-rotate(237deg) brightness(10%) contrast(99%);
          filter: invert(0%) sepia(10%) saturate(70%) hue-rotate(237deg) brightness(10%) contrast(99%);
  margin-left: .5em;
  margin-right: .5em;
}

@media (max-width: 1440px) {
  .easeIt_logo--login {
    position: absolute;
    left: 16em;
    top: 20em;
  }
  .login_title {
    left: 11em;
    top: 15em;
  }
  .noAccount {
    bottom: 19em;
  }
}

@media (max-width: 1024px) {
  .noAccount {
    bottom: 19em;
  }
  .easeIt_logo--login {
    position: absolute;
    left: -3em;
    top: 20em;
  }
  .login_title {
    left: 3em;
    top: 15em;
  }
}

@media (max-width: 768px) {
  .loginForm_section {
    grid-row-gap: 6rem;
  }
  .btn_login--continue {
    margin-bottom: 5em;
  }
  .login_text--teachers {
    display: block;
  }
  .easeIt_logo--login {
    left: -2em;
    top: 1em;
  }
  .login_title {
    left: 2em;
    top: 7em;
  }
  .noAccount {
    bottom: 10em;
  }
}

@media (max-width: 425px) {
  .login_title {
    top: 6em;
  }
  .easeIt_logo--login {
    left: -4em;
  }
  .noAccount {
    font-size: 1.5rem;
  }
  .login_text {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .noAccount {
    font-size: 1rem;
    bottom: 14em;
  }
}

@media (max-width: 320px) {
  .login_form {
    width: 85%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.loginStaff_p {
  margin-top: 4rem;
  font-weight: 500;
}

.loginStaff_input {
  margin-bottom: 2rem;
}

.loginStaff_acc {
  margin-top: 14rem;
}

.rmbForgot {
  margin-top: -2rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #161859;
  font-size: 1.2rem;
  font-weight: 300;
}

.rmb_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rmb_me--text {
  margin-left: -.4rem;
}

.forgot {
  color: #161859;
  font-weight: 600;
}

.pwdReset_acc {
  margin-top: 37rem;
}

.signUp_input {
  margin-bottom: 2rem;
}

.acc_btn--signUp {
  bottom: 5em;
}

.btn_signUp {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.inner_container--signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.easeIt_logo--signUp {
  position: absolute;
  left: 23em;
  top: -6em;
  width: 22rem;
  height: auto;
}

.h3_title--signUp {
  top: 3.4em;
  left: 16em;
}

@media (max-width: 1440px) {
  .easeIt_logo--signUp {
    left: -1em;
    top: -2em;
    width: 22rem;
    height: auto;
  }
  .h3_title--signUp {
    top: 6em;
  }
  .acc_btn--signUp {
    bottom: 14em;
  }
}

@media (max-width: 1024px) {
  .easeIt_logo--signUp {
    left: -1em;
    top: -2em;
    width: 22rem;
    height: auto;
  }
  .h3_title--signUp {
    top: 6em;
    left: 6em;
  }
}

@media (max-width: 768px) {
  .easeIt_logo--signUp {
    left: -2em;
    top: -6em;
    width: 19rem;
    height: auto;
  }
  .h3_title--signUp {
    top: 2.1em;
    left: 6em;
  }
  .acc_btn--signUp {
    bottom: 3em;
  }
}

@media (max-width: 768px) {
  .acc_btn--signUp {
    font-size: 1rem;
    bottom: 3em;
  }
  .h3_title--signUp {
    top: 2.1em;
    left: 1em;
  }
  .easeIt_logo--signUp {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 320px) {
  .acc_btn--signUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.boxes, .content_p--pwdReset2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2rem;
}

.box {
  border: 2px solid #161859;
  padding: 1.5rem;
  margin-left: 1rem;
}

.pwdReset2_btn--resend {
  color: #161859;
  background-color: #F7F7FD;
  margin-top: 2rem;
  border-color: #F7F7FD;
  -webkit-box-shadow: 0px 2px 2px 0px #161859;
          box-shadow: 0px 2px 2px 0px #161859;
}

.pwdReset2_acc {
  margin-top: 20rem;
}

.pwdReset3_input2 {
  margin-top: 2rem;
}

.pwdReset3_acc {
  margin-top: 24rem;
}

.pwdReset3_btn {
  margin-top: 6rem;
}

.profile_input {
  margin-top: 2rem;
}

.profile_pics {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #F7F7FD;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2.5rem;
  position: relative;
}

.profile_pics--camera {
  position: absolute;
  bottom: .5rem;
  right: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f5e3c2;
  border-radius: 50%;
  padding: .6rem;
  -webkit-filter: invert(99%) sepia(3%) saturate(207%) hue-rotate(351deg) brightness(112%) contrast(100%);
          filter: invert(99%) sepia(3%) saturate(207%) hue-rotate(351deg) brightness(112%) contrast(100%);
}
/*# sourceMappingURL=easeIt.css.map */