@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [center-start] minmax(min-content, 100rem) [center-end] 1fr;
      grid-template-columns: 1fr [center-start] minmax(-webkit-min-content, 100rem) [center-end] 1fr;
      grid-template-columns: 1fr [center-start] minmax(min-content, 100rem) [center-end] 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
}

.body_others {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

a {
  text-decoration: none;
}

.btn a {
  color: #D39E2A;
}

.h3_title {
  color: #D39E2A;
  font-size: 2.5rem;
  font-family: "DM Serif Display", serif;
  position: absolute;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  left: 28%;
  top: 4rem;
  color: #161859;
  letter-spacing: 1px;
}

.bigForms_section {
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  background-color: #BFC1FD;
  height: 70vh;
  width: 70%;
}

.bigForm {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputField {
  background-color: transparent;
  border: 1.9px #161859 solid;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 69.43%;
}

.form_Or {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn {
  background-color: #161859;
  text-align: center;
  color: #D39E2A;
  border: 1px #161859 solid;
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 4rem;
  width: 70%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.white {
  color: #F7F7FD;
}

.acc_btn {
  width: 70%;
  margin-top: 8rem;
  border-radius: 0px;
  text-align: center;
}

.content_p {
  font-weight: 500;
  font-size: 1.5rem;
}

.content_p--left {
  padding-left: 14.5%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-weight: 500;
  font-size: 1.5rem;
}

.easeIt_logo {
  position: absolute;
  left: 16%;
  top: -7rem;
  width: 22rem;
  height: auto;
}

.loginForm_section {
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_form {
  padding-top: 4rem;
  height: 55rem;
  background-color: #BFC1FD;
  border-radius: 2.5rem;
}

.login_form--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_title {
  grid-column: center-start/center-end;
  margin-left: 3rem;
  color: #D39E2A;
  font-size: 2.5rem;
  font-style: "DM Serif Display", serif;
}

.login_teachers--p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  line-height: 1.5;
}

.login_students--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 1.1rem;
}

.login_students--icon {
  width: 2.2rem;
  height: 2.2rem;
  -webkit-filter: invert(0%) sepia(10%) saturate(70%) hue-rotate(237deg) brightness(10%) contrast(99%);
          filter: invert(0%) sepia(10%) saturate(70%) hue-rotate(237deg) brightness(10%) contrast(99%);
  margin: 0rem .4rem;
}

.login_input {
  border-color: #D39E2A;
  margin-bottom: 6rem;
}

.content_p--left {
  padding-bottom: 5rem;
}

input:placeholder-shown {
  color: black;
}

.school_label:placeholder-shown {
  background-image: url(/icons/check-circle.svg);
  background-repeat: no-repeat;
  background-position: 14rem;
  background-size: 1.5rem;
  color: black;
}

.school_password {
  margin-top: -3rem;
}

.noAccount {
  background-color: transparent;
  text-align: center;
  color: #D39E2A;
  border: 1px #161859 solid;
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-top: 4rem;
  width: 70%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 45rem;
  width: 50%;
  height: min-content;
  margin-top: 2rem;
  font-weight: 400;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.noAccount_link {
  color: #161859;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .easeIt_logo {
    top: 5%;
    left: -2rem;
  }
  .loginForm_section {
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login_title {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 10%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .content_p--left {
    padding-left: 0%;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .body {
    padding-top: 6rem;
  }
  .loginForm_section {
    grid-row-gap: 6rem;
  }
  .easeIt_logo {
    top: -5%;
    left: -2rem;
  }
}

.login_title {
  padding-bottom: 1rem;
}

@media (max-width: 425px) {
  .body {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 4rem;
    padding-top: 10rem;
  }
  .login_title {
    padding-bottom: 5rem;
  }
  .inputField {
    width: 90%;
  }
  .loginForm_section {
    width: 90%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50%;
  }
}

.loginStaff_p {
  margin-top: 4rem;
  font-weight: 500;
}

.loginStaff_input {
  margin-bottom: 2rem;
}

.loginStaff_acc {
  margin-top: 14rem;
}

.rmbForgot {
  margin-top: -2rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #161859;
  font-size: 1.2rem;
  font-weight: 300;
}

.rmb_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rmb_me--text {
  margin-left: -.4rem;
}

.forgot {
  color: #161859;
  font-weight: 600;
}

.pwdReset_acc {
  margin-top: 37rem;
}

.signUp_input {
  margin-bottom: 2rem;
}

.signUp_acc {
  margin-top: 12rem;
}

.boxes, .content_p--pwdReset2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2rem;
}

.box {
  border: 2px solid #161859;
  padding: 1.5rem;
  margin-left: 1rem;
}

.pwdReset2_btn--resend {
  color: #161859;
  background-color: #F7F7FD;
  margin-top: 2rem;
  border-color: #F7F7FD;
  -webkit-box-shadow: 0px 2px 2px 0px #161859;
          box-shadow: 0px 2px 2px 0px #161859;
}

.pwdReset2_acc {
  margin-top: 20rem;
}

.pwdReset3_input2 {
  margin-top: 2rem;
}

.pwdReset3_acc {
  margin-top: 24rem;
}

.pwdReset3_btn {
  margin-top: 6rem;
}

.profile_input {
  margin-top: 2rem;
}

.profile_pics {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #F7F7FD;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2.5rem;
  position: relative;
}

.profile_pics--camera {
  position: absolute;
  bottom: .5rem;
  right: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f5e3c2;
  border-radius: 50%;
  padding: .6rem;
  -webkit-filter: invert(99%) sepia(3%) saturate(207%) hue-rotate(351deg) brightness(112%) contrast(100%);
          filter: invert(99%) sepia(3%) saturate(207%) hue-rotate(351deg) brightness(112%) contrast(100%);
}
/*# sourceMappingURL=easeIt.css.map */