
.loginForm_section{
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(35rem,1fr));
    grid-column-gap: 3rem;
    align-items: stretch;
    justify-content: center;
    width: 90rem;
    max-width: 90%;
    font-size: 1.5rem;
   
}

.easeIt_logo--login{
    position: absolute;
    left: 24em;
    top: -7em;
    width: 22rem;
    height: auto;
}
.login{
&_form {
    padding-top: 4rem;
    
    // height: 55rem;
    background-color: $color-lightblue;
    border-radius: 2.5rem;
    
   &--content{
       display: flex;
       flex-direction: column;
       align-items: center;
    //    justify-content: space-between;
    
   }
}
&_title{
    position: absolute;
    top: 3em;
    left: 14.5em;
    color: $color-yellow;
    font-size: 2.5rem;
    font-style: $font-serif;
    align-self: flex-start;
    
}



&_input{
 border-color: $color-yellow;   
width: 100%;
&--1{
    margin-bottom: 4em;
}
&--2{
    margin-bottom:2em;
}
&--3{
    margin-bottom: .5em;
}

}

}

// 
.rmb-fgt{
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4em;
    font-size: 1.2rem;
    color: $color-deepblue;
}
.rmb{
    display: flex;
    justify-content: center;
}
.fgt{
font-weight: bold;
color: $color-deepblue;
}
.login_text{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.5em;
    
 &--students{
     align-self: flex-start;
 }
}
.btn_login{
    width: 100%;
    padding-top: .863em;
    padding-bottom: .863em;
}

input:placeholder-shown{
    color: black;
}
.school_label:placeholder-shown{
    background-image: url(/icons/check-circle.svg);
    background-repeat: no-repeat;
    background-position: 14rem;
    background-size: 1.5rem;
    color: black;
}
.school_password{
margin-top: -3rem;
}

.noAccount{
    @include btnstyle(transparent);
    
    width: auto;
    
//    justify-self: flex-end;
    font-weight: 400;
    padding:.5em 3em;
    position: absolute;
    bottom: 4em;

&_link{
    color: $color-deepblue;
    font-weight: 700;

}
}
.social_icons{
    
        display: flex;
}
.index_icons{
    padding-top: 3em;
    padding-bottom: 1em;
   
}

// media queries
@media (max-width:1440px){
    .easeIt_logo--login{
        position: absolute;
        left:16em;
        top: 11em;
    
    }
    .login_title{
        left: 11em;
        top: 11em;
    }
    .noAccount{
        bottom: 15em;
    }
}

@media (max-width:1024px){
 
    .noAccount{
        bottom: 7em;
    }
    .easeIt_logo--login{
        position: absolute;
        left:-3em;
        top: -1em;
    
    }
    .login_title{
        left: 3em;
        top: 6em;
       
    }
    }
   
    
   


@media (max-width:768px){
    
.loginForm_section{
    grid-row-gap: 6rem;
}
.btn_login--continue{
    margin-bottom: 5em;
}
.login_text--teachers{
    display: block;
}
.easeIt_logo--login{
    left:-3.5em;
    top: -7em;

}
.login_title{
    left: 2em;
    top: 3em;
}
.noAccount{
    bottom: 2em;
}
}

@media (max-width:425px){
   
    .login_title{
        
        top: 3em;
    }
    .easeIt_logo--login{
        top: -7em;
        left:-4em;
    
    
    }
    .noAccount{
        font-size: 1.5rem;
        bottom: 3em;
    }
    .login_text{
        font-size: 1.5rem;
    }
}
@media (max-width:375px){
    
    .login_title{
        width: 100%;
        top: 4em;
        font-size: 2rem;
        
    }
    .easeIt_logo--login{
        top: -7em;
    
    
    }
.noAccount{font-size: 1rem;
bottom: 5em;
}
.content_p--pwdReset2{
font-size: 1.2rem;
}
     
}
@media (max-width:320px){
    .login_form{
        width: 85%;
        justify-self:center;
    }
}

// A GENERAL MEDIA QUERIES
@media (max-width:1440px){
    .easeIt_logo--bigForms{
        left: 12em;
        top: 10em;
        width: 22rem;
        height: auto;
    }
    .h3_title--bigForms{
        top: 11em;
        left: 12.5em;
        
    }
}
@media (max-width:1024px){
    .easeIt_logo--bigForms{
        left: -1em;
        top: -2em;
        width: 22rem;
        height: auto;
    }
    .h3_title--bigForms{
        top: 6em;
        left: 6em;
    }
}
@media (max-width:768px){
    body{
        padding: 12em 1em;
    }
    .easeIt_logo--bigForms{
        left: -2em;
        top: -6em;
        width: 19rem;
        height: auto;
    }
    .h3_title--bigForms{
        top: 2.4em;
        
       
        
    }
}
@media (max-width:768px) and (min-width:320px){
    .h3_title--bigForms{
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
        
     }
    }
    
    @media (max-width:425px){
        .h3_title--bigForms{
            top: 2.5em;
        }
        .easeIt_logo--bigForms{
            left: 50%;
            transform: translateX(-50%);
        }
        .inner_container--bigForms{
            width: 85%;
        }
        .acc_btn{
    

            display: flex;
            flex-direction: column;
            
    
    }
    }
        
    @media (max-width:375px){
        .h3_title--bigForms{
            top: 3em;
            
        }
    }
    
    @media (max-width:320px){
        .h3_title--bigForms{
            top: 4em;
            
        }
        html{
            font-size: 55%;
        }
    }

