.inputField_pwdReset3{
    margin-bottom: 1.3em;
    
}
.acc_btn--pwdReset3{
    bottom: 3em;
}
.submit_pwdReset3{
    margin-top: 4em;
    margin-bottom: 11em;
}
.content_p--pwdReset3{
    margin-bottom: .7em;
}

// media query



@media (max-width:1440px){
    .acc_btn--pwdReset3{
        bottom: 14em;
    }
}
@media (max-width:1024px){
    .acc_btn--pwdReset3{
        bottom: 8em;
    }
}
@media  (max-width:768px){
    .acc_btn--pwdReset3{
        bottom: 2em;
    }
    
}
