
.signUp_input{
    margin-bottom: 2rem;
}
.acc_btn--signUp{
    
    bottom: 5em;
   
}
.btn_signUp{
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.easeIt_logo--signUp{
    position: absolute;
    left: 23em;
    top: -6em;
    width: 22rem;
    height: auto;
}

// media queries
@media (max-width:1440px){
    
   
    .acc_btn--signUp{
    
        bottom: 14em;
       
    }
}

@media  (max-width:1024px){
    
    .acc_btn--signUp{
        bottom: 8em;
    }
}

@media  (max-width:768px){
   
    .acc_btn--signUp{
    
        bottom: 3em;
       
    }
}

@media  (max-width:425px){
    .acc_btn--signUp{
        font-size: 1rem;
        bottom: 3em;
        
       
    }
    
   

}
